[Unit]
Description=YubiServ
Requires=network.target
Before=shutdown.target
After=local-fs.target
After=network-online.target
Wants=network-online.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/opt/yubiserv/bin/yubiserv -c /opt/yubiserv/etc/yubiserv.conf --sqlite-dbpath=/opt/yubiserv/var/db/yubiserv.db
PIDFile=/var/run/yubiserv.pid
KillMode=mixed
TimeoutStopSec=30
User=nobody

[Install]
WantedBy=multi-user.target
