# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: go-yubiserv

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

#      - name: dump dependencies (for nancy)
#        run: go list -json -m all > go.list

#      - name: Nancy (deps vulnerabilities)
#        uses: sonatype-nexus-community/nancy-github-action@main

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with: { version: latest }

      - name: Cache go mod
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build
        run: go build -v ./cmd/go-yubiserv

      - name: Test
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...